profiles {

    local {
        workDir = params.workdir
    }

    lsf {
        workDir = params.workdir
        process.executor = 'lsf'
        process {
            clusterOptions = '-P scicompsoft'
        }
    }

    docker {
        docker { enabled = true }
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$HOME/.singularity_cache"
}

